* {
  font-family: 'Prompt', sans-serif;
}
.App-header {
  font-size: 45px;
  margin-bottom: 100px;
  background-color: cornflowerblue;
  padding-bottom: 50px;
  text-align: center;
  border-bottom: ;
}

.categories-header {
  /* padding-left: 15px; */
  padding-bottom: 5px;
  margin-bottom: 35px;
  font-size: 50px;
  text-align: center;
  border-bottom: solid black;
  border-radius: 15px;
  height: auto;
  width: auto;
}

.questions-header {
  /* padding-left: 15px; */
  padding-bottom: 5px;
  margin-bottom: 35px;
  font-size: 50px;
  text-align: center;
  border-bottom: solid black;
  border-radius: 15px;
}

.trivia-container {
  margin-left: 7px;
  margin-right: 7px;
  width: 800px;

}

/* .game-window {
  align-content: center;
  border: 5px outset black;
  border-radius: 15px;
  height: auto;
  width: 800px;
} */

.categories-container {
  border: 5px outset black;
  border-radius: 15px;
  height: 700px;
  width: 800px;
  margin-left: 5%;
  margin-right: 5%;
}

.bottom-row {
  border: 1px dotted black;
  display: flex;
  flex-wrap: wrap;
  width: 605px;
  height: auto;
}

.user-info {
  border-right: 1px dotted black;
  height: auto;
  width: 299px;
  text-align: center;
}

.answer-sheet {
  border-left: 1px dotted black;
  height: 300px;
  width: 299px;
  text-align: center;
}


li {
  padding-bottom: 15px;
}

#back-button {
  align-self: center;
  margin-bottom: 30px;
  margin-left: 20px;
}

.scroll-box {
  height: 550px;
  overflow: scroll;
}