* {
  font-family: 'Prompt', sans-serif;
}
.App-header {
  font-size: 45px;
  color: #fefbd8;
  margin-bottom: 45px;
  background-color: #618685;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: solid black;
}

.categories-header {
  /* padding-left: 15px; */
  padding-bottom: 5px;
  margin-bottom: 25px;
  font-size: 35px;
  text-align: center;
  border-bottom: solid black;
  border-radius: 15px;
  height: auto;
  width: auto;
  margin: auto;
}

.questions-header {
  /* padding-left: 15px; */
  padding-bottom: 5px;
  margin-bottom: 25px;
  margin: auto;
  font-size: 25px;
  text-align: center;
  border-bottom: solid black;
  border-radius: 15px;
}

.select-text {
  /* margin: auto; */
  margin-top: 5%;
}

.flexbox-container {
  display: flex;
  width: 1151px;
  height: auto;
}
.question-container {
  border: 9px outset #618685;
  border-radius: 15px;
  height: 650px;
  width: 450px;
  /* width: auto; */
  /* height: auto; */
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.questiontext-div {
  border: 9px outset #618685;
  border-radius: 15px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 7%;
  min-height: 150px;
  background-color: #fefbd8;
  text-align: center;
}

.placeholder-container {
  border: 9px outset #618685;
  border-radius: 15px;
  height: 650px;
  width: 450px;
  /* width: auto; */
  /* height: auto; */
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.categories-container {
  display: flex;
  flex-wrap: wrap;
  border: 9px outset #618685;
  border-radius: 15px;
  height: 650px;
  width: 450px;
  margin-left: 5%;
  margin-right: 5%;
}

.answer-container {
  border: 9px outset #618685;
  border-radius: 15px;
  height: 650px;
  width: 450px;
  margin-left: 5%;
  margin-right: 5%;
}

.category-scroll-box {
  height: 550px;
  overflow: scroll;
}

.questions-scroll-box {
  height: 475px;
  overflow: scroll;
}

.bottom-row {
  border: 1px dotted black;
  display: flex;
  flex-wrap: wrap;
  width: 605px;
  height: auto;
}

.user-info {
  border-right: 1px dotted black;
  height: auto;
  width: 299px;
  text-align: center;
}

.answer-sheet {
  border-left: 1px dotted black;
  height: 300px;
  width: 299px;
  text-align: center;
}

.btn.btn-info {
  padding-top: 3px;
  padding-bottom: 3px;
}


li {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: medium;
  /* background-color: #80ced6; */
}

#back-button {
  align-self: center;
  margin-bottom: 30px;
  margin-left: 20px;
}


.trivia-container {
  display: flex;
  width: auto;
}

.text {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 2%;
  margin-right: 2%;
}

/* .game-window {
  align-content: center;
  border: 5px outset black;
  border-radius: 15px;
  height: auto;
  width: 800px;
} */